body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #1a1a1a; 
  color: #ffffff; /* Texto branco */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
  
  header {
   display: flex;
  }
  
  #qr-section {
    background-color: #333;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }

  .msg {
    color:#1a1a1a;
  }
  
  form {
    margin-top: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #5b4caf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #4b3c9e;
  }
  
  #qrcode-container {
    margin-top: 20px;
    text-align: center;
    position: relative;
    padding: 20px;
  }
  
  #qrcode {
    display: inline-block;
    border: 5px solid white;
    background-color: white;
  }
  
  footer {
    color: rgb(21, 172, 165);
    margin-top: 20px;
  }
  